@model Academy
@{
    ViewData["Title"] = "Información de la academia";
    Layout = "SimpleLayout";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="jumbotron">
    
    <h2>Academia de tecnologías modernas</h2>
    <h3>Nombre: </h3>
    <p>@Model.Nombre</p>
    <h3>Año de Fundación: </h3>
    <p>@Model.AñoCreacion</p>
    <p>Tipo de escuela: @Model.TipoEscuela</p>
    <address>
        <p>Dirección: @Model.Direccion</p>
        <p>Pais: @Model.Pais</p>
        <p>Ciudad: @Model.Ciudad</p>
    </address>
    <p><i>@ViewData["DatoDinamico"]</i></p>
</div>
